html,body {
    background-color: goldenrod;
    font-family: "Arial Narrow";
    height: 100%;
    width: 100%;
}
#all {
    overflow: auto;
    white-space: nowrap;
    height: 100%;
    width: 100%;
}
#left-pane {
    float: left;
    display: inline-block;
    width: 300px;
    height: 100%;
    text-align: center;
    align-content: center;
    margin-right: 20px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}
#main-pane {
    white-space: initial;
}

#logo {
    width: 120px;
    height: 100px;
}